.mady-cart-link {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.cart-icon {
  font-size: 18px;
  line-height: 1;
}

.cart-dot {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 9px;
  height: 9px;
  background-color: #ff3b30;
  border-radius: 50%;
}
